@import url("https://fonts.googleapis.com/css2?family=Paytone+One&display=swap");
@import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p:wght@100;300;400;500;700;800;900&family=Mochiy+Pop+One&display=swap");

:root {
  --bgc: #cccccc;
}
* {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
}
body {
  background-color: rgb(64, 64, 64);
}
.grid-item {
  background-color: var(--bgc);
  border: 1.5px solid rgba(0, 0, 0, 0.8);
}

/* ------------------- 行1 ------------------- */

.TopEngName {
  text-align: left;
  font-size: 250%;
  margin: 0 0 0 1%;
  padding: 0;
}
.TopName {
  text-align: left;
  font-size: 235%;
  margin: 0 0 0 1%;
  padding: 0;
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}
.btn {
  background-color: #cccccc;
  border: 1.5px solid rgba(0, 0, 0, 0.8);
  margin: 0 2%;
  padding: 0 2%;
  text-align: center;
  font-size: 150%;
  .btn::hover {
    background-color: #b1b1b1;
    color: #fff;
  }
}

.diff-color {
  filter: invert(1) hue-rotate(180deg);
}
/* ------------------- 行2 ------------------- */

.TcAndJaFon700 {
  font-family: "M PLUS 1p", sans-serif;
  font-weight: 700;
}
.intro-Eng-line-height {
  line-height: 135%;
}
.intro-TcAndJa-line-height {
  line-height: 150%;
}

/* ------------------- IT ------------------- */
.DialogStyle {
  font-family: "Paytone One", sans-serif;
  font-style: normal;
  text-align: center;
  font-size: 130%;
}
.DialogContentStyle {
  margin: 0.1% auto;
  width: 80%;
  button {
    text-transform: capitalize;
    margin: 1%;
    width: 100%;
    border: 1px solid rgba(0, 0, 0, 0.8);
    color: rgba(0, 0, 0, 0.8);
    background-color: transparent;
  }
}

.DialogContentStyle button:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: #fff;
}
